#erro .erro {
    height: 60vh;
    padding: 5vw;
}

#erro .erro h1{
    color: var(--red);
}


#erro .erro h2{
    color: var(--dark);
}


#erro .erro h3{
    color: var(--gray);
}


#erro .erro a {
    color: var(--red);
}

