@media (min-width:320px){

#category {
    flex-direction: column;
    width:100%;
}

#category .category-container .content{
    width:100%;
}

#category img {
    width:100%;
    height: 25vh;
    border-radius: 5px;
}

#category .category-container .news{
    display: none;
}

#category .content .banner-category{
    position: relative;
    justify-content: flex-end;
}

#category .content .banner-category img {
    filter: brightness(0.7);
}

#category .content .banner-category .banner-text{
    position: absolute;
}

#category .content .banner-category .banner-text h1{
    color: var(--white);
    margin-left: 15px;
}

#category .content .articles {
    margin-top: 3vh;
}

#category .articles .image-text h2 a{
    color: var(--red);
}

#category .articles .image-text h3 a{
    color:var(--gray);
}

#category .articles .image-text p {
    font-size: 19px;
    color:var(--gray);
}

#category .articles .image-text p a {
    font-size: 19px;
    color: var(--red);
}

}


@media (min-width:576px){
   #category .content .news {
       display: none;
   }

    #category .category-container .content {
        width: 100%;
        margin-top: 3vh;
    }

    #category .category-container .articles .image-text{
        flex-direction: row;
        align-items: center;
    }

   

   


#category .articles img {
    width:40vw;
    height: auto;
}

#category .articles .image-text .text h2 {
    margin: 5px 0 0 0;
}

#category .articles .image-text .text h3{
    margin:0;
}

#category .articles .image-text .text {
    padding-left: 15px;
}

#category .articles .image-text p {
    font-size: 22px;
    color:var(--gray);
}
}

@media (min-width:992px){
    #category{
        align-items: center;
    }

    #category .category-container {
        flex-direction: row;
        justify-content: center;
        margin-top: 20px;
        margin-bottom: 30px;
        background-color: var(--white);
        width: 90%;
        margin-top: 0;
        box-shadow: 0 0 2.5em 0.5em rgba(204,204,204,0.5);
}


    

    #category .category-container .content{
        width:60%;
        margin-top:3vh ;
    }

    #category .category-container .articles{
        margin-top: 5vh;
    }

    #category .category-container .news{
        width:20vw;
        align-items: center;
    }

    #category .category-container .articles img {
        width: 20vw;
        height: 30vh;
        border-radius: 5px;
    }

    #category .category-container .articles h3 a {
        color: var(--gray);
    }

    #category .category-container .articles h2 a {
        color: var(--red);
    }

    #category .content .banner-category{
        position: relative;
        justify-content: flex-end;
    }

    #category .content .banner-category .banner-text{
        position: absolute;
    }

    #category .content .banner-category .banner-text h1{
        color: var(--white);
        margin-left: 15px;
    }

    #category .content .banner-category img {
        width: 100%;
        height:40vh;
        border-radius: 5px;
        filter: brightness(0.7);
    }

    #category .content .image-text {
        flex-direction: row;
    }

    #category .content .image-text .text {
        flex-direction: column;
        padding-left: 10px;
        text-align: justify;
    }

    #category .content .image-text .text p a {
        color: var(--red);
    }

    #category .articles .image-text p {
        font-size: 19px;
        color: var(--gray);
    }

    #category hr {
        background-color: var(--gray);
        height: 1px;
        width: 50%;
        border: none;
        margin: 15px;
        align-self: center;
    }

    #category .category-container .news {
        display:flex;
        width:20vw;
        align-items: normal;
        padding-left: 5vw;
        margin-top: 3vh;
    }

    #category .category-container .news h3 a {
        color: var(--gray);
    }

    #category .category-container  .news h2  {
        color: var(--gray);
    }
    

    #category .category-container  .news h2 a {
        color: var(--red);
    }

    #category .category-container  .news div p{
        margin-top: 0;
        color: var(--gray);
    }
}