#footer {
    flex-direction: column;
    background-color: var(--dark);
    width:100%;
    min-height:25vh;
    position: relative;
}

#footer .politcs {
    display: flex;
    justify-content: center;
}

#footer .politcs .politcs-links {
    list-style: none;
    padding: 0;
    text-align: center;
}

#footer button {
    position: absolute;
    right: 20px;
    background: var(--light);
    color: var(--white);
    box-shadow: var(--black) 0 3px 6px;
    border: none;
    border-radius: 50%;
    width: 70px;
    height: 70px;
    outline: none;
    justify-content: center;
    align-items: center;
    top: -35px;
    z-index: 1;    
    cursor: pointer;
}

#footer .social .social-container {
    display:flex;
    justify-content: center;
}

#footer .social .social-container ul {
    list-style: none;
    display: contents;
}

#footer .social .social-container li{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
}

#footer a {
    font-size: 17px;
    color: var(--white);
}

#footer img {
    height:30px;
}

#footer p{
    color: var(--white);
    font-size: 16px;
    margin-left: 10px;
}

@media (min-width:576px){
    #footer .social .social-container li {
        justify-content: center;
    }

    #footer .social .social-container li a {
        margin-right: 10px;
    }
}

@media (min-width:992px){
    #footer {
        align-items: center;
    }

    #footer .social .social-container li{
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
    }

    #footer a {
        font-size: 17px;
        color: var(--white);
        margin-right: 20px;
    }
}