#home {
    flex-direction: column;
    width:100%;
    background-color: var(--white);
}



#home .destak {
    display: flex;
    flex-direction: column;
    padding: 5px;
}

#home .news {
    display:none;
}

#home .destak h1, h2, h3 {
    color: var(--white);
    margin:5px;
}

#home .destak .notice-1 {
    height: 30vh;
    background-image: url("/assets/images/Coronavirus/covid-19.jpg");
    background-size: cover;
    backdrop-filter: brightness(60%);
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding-left: 30px;
    margin-bottom: 15px;
}

#home .destak .notice-2 {
    height: 30vh;
    background-image: url("/assets/images/brasil/brasil.jpg");
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding-left: 30px;
    margin-bottom: 15px;
}

#home .destak .notice-3 {
    height: 30vh;
    background-image: url("/assets/images/mundo/mundo.jpg");
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding-left: 30px;
    margin-bottom: 15px;
}

#home .destak .notice-4 {
    height: 30vh;
    background-image: url("/assets/images/esportes/esportes.jpg");
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding-left: 30px;
    margin-bottom: 15px;
}

#home .destak .notice-5 {
    height: 30vh;
    background-image: url("/assets/images/economia/economia.jpg");
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding-left: 30px;
    margin-bottom: 15px;
}

#home .destak .notice-6 {
    height: 30vh;
    background-image: url("/assets/images/tecnologia/tecnologia.jpg");
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding-left: 30px;
    margin-bottom: 15px;
}

#home .articles img {
    width: 100%;
    height:25vh;
    border-radius: 5px;
    

}

#home hr {
        background-color: var(--gray);
        height: 1px;
        width: 50%;
        border: none;
        margin: 20px;
        align-self: center;
    
}



#home .articles .image-text h2 a{
    color: var(--red);
}

#home .articles .image-text h3 a{
    color:var(--gray);
}

#home .articles .image-text p {
    font-size: 19px;
    color:var(--gray);
}

#home .articles .image-text p a {
    font-size: 19px;
    color: var(--red);
}

@media (min-width:576px){

    #home .destak div {
        border-radius: 5px;
    }

   
    #home .destak .column h3{
        font-size: 24px;
    }

    #home .destak .column h1{
        font-size: 40px;
    }

    #home .destak .column h2{
        font-size: 35px;
    }
    #home .destak .column-2 {
        flex-direction: row;
    }

    #home .destak .notice-2{
        width:50%;
    }

    
    #home .destak .notice-3{
        width:50%;
        margin-left: 15px;
    }
    
    #home .destak .column-3{
        flex-direction: row;
        width:100%;
        justify-content: space-around;
    }

    #home .destak .column-3 .notice-4,
    #home .destak .column-3 .notice-6{
        width:33%;
        height: 25vh;
    }

    #home .destak .column-3 .notice-5{
        width:33%;
        height: 25vh;
        
    }

    #home .articles .image-text  h2 a,
    #home .articles .image-text-column h2 a{
        color: var(--red);
        font-size: 34px;
    }

    #home .articles .image-text-column h3 a{
        color: var(--gray);
        }

    #home .articles .image-text-column p,
    #home .articles .image-text p {
        font-size: 24px;
        color: var(--gray);
    } 

    #home .articles .image-text-column p a,
    #home .articles .image-text p a {
    
    font-size:24px;
    }
    
       

    #home .articles .image-text img {
        width: 30vw;
        max-height: 25vh;
    }

   

  

    #home .articles .image-text{
        flex-direction: row;
        align-items: center;
    }

    #home .articles .image-text .text {
        flex-direction: column;
        padding-left: 10px;
        text-align: justify;
    }


   


}

@media (min-width:1100px){
    #home  {
        flex-direction: column;
        width:90%;
    }

    #home .destak {
        flex-direction: row;
        justify-content: center;
        margin-top:20px;
        height: auto;
    }

    #home .destak .column {
        width:50%;
        
    }

    #home .destak .column .notice-1{
        height:50%;
        margin: 0 15px 15px 15px;
        border-radius: 5px;
    }

    #home .destak .column .notice-1:hover,
    #home .destak .notice-3:hover,
    #home .destak .notice-2:hover,
    #home .destak .notice-4:hover,
    #home .destak .notice-5:hover,
    #home .destak .notice-6:hover{
        -webkit-transform: scale(1.1);
        -moz-transform: scale(1.1);
        -ms-transform: scale(1.1);
        -o-transform: scale(1.1);
        transform: scale(1.1);
        transition: all .5s cubic-bezier(.190, 1.000, .220, 1.000);
    }



    #home .destak .column-2{
        flex-direction: row;
        width:100%;
        height:50%;
        align-items: center;
    }



    #home .destak .notice-2,
    #home .destak .notice-3 {
        height:35vh;
        width:50%;
        height:100%;
        margin:15px;
        border-radius: 5px;
    }


    #home .destak .column-3 .notice-4
    {
        border-radius: 5px;
        width: 100%;
        margin: 0;
    }

    #home .destak .column-3 .notice-5{
        width:100%;
        margin: 5px 0 5px 0;
    }


    #home .destak .column-3 {
        width: 30vw;
        margin: 0;
        flex-direction: column;
    }

    #home .destak .column-3 .notice-6{
        margin-bottom: 0;
        border-radius: 5px;
        width: 100%;
    }

    #home .home-container {
        flex-direction: row;
        justify-content: center;
        margin-top:10vh;
        margin-bottom: 30px;
    }

    #home .articles{
        width:60%;
        margin-left:2vw;
        
    }


    

    #home .articles .image-text-column h2 a{
        color: var(--red);
        font-size: 24px;
    }

    #home .articles .image-text-column h3 a{
        color: var(--gray);
        font-size: 19px;
    }

    #home .articles .image-text-column p{
        font-size: 19px;
    }

    #home .articles .image-text-column p a {
        color:var(--red);
        font-size: 19px;
    }

    
    #home .articles .image-text h2 a{
        color: var(--red);
        font-size: 24px;
    }

    #home .articles .image-text h3 a{
        color: var(--gray);
        font-size: 19px;
    }

    #home .articles .image-text p{
        font-size: 19px;
    }

    #home .articles .image-text p a {
        color:var(--red);
        font-size: 19px;
    }

    #home .articles .image-text{
        flex-direction: row;
        align-items: center;
    }

    #home .articles .image-text .text {
        flex-direction: column;
        padding-left: 10px;
        text-align: justify;
    }


    #home .articles .image-text img {
        width: 20vw;
        height: 30vh;
        border-radius: 5px;
    }

    #home .home-container .news {
        display:flex;
        width:20vw;
        align-items: normal;
        padding-left: 5vw;
    }

    #home .home-container .news h3 a {
        color: var(--gray);
    }

    #home .home-container  .news h2  {
        color: var(--gray);
    }
    

    #home .home-container  .news h2 a {
        color: var(--red);
    }

    #home .home-container  .news div p{
        margin-top: 0;
        color: var(--gray);
    }

    #home hr {
        background-color: var(--gray);
        height: 1px;
        width: 50%;
        border: none;
        margin: 4px;
        align-self: center;
    }

   
}